/* Application wide styles */

.label {
    -fx-font-family: 'Open Sans';
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.button {
    -fx-text-fill: white;
    -fx-padding: 5 3 3 3;
    -fx-font-family: "Verdana";
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-background-color: #51A1F3;
}

.button:hover{
    -fx-base: #8FC3F9;
}

.radio-button .dot:focused{
    -fx-background-color: #51A1F3;
}


.combo-box{
    -fx-padding: 0px;
    -fx-text-fill: white !important;
}

.combo-box .list-view{
    -fx-background-color: white;
}

.combo-box .list-view:hover{
    -fx-background-color: white;
}

.combo-box-base{
    -fx-background-color:#51A1F3;
    -fx-text-fill: white;
}

.text-area {
    -fx-border-radius: 18px !important;
}


/* Component specific styles */


.main-panel {
    -fx-background-image: url("../images/background.jpg");
}

.hello-message {
    -fx-text-fill: #AA0000;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

